@page
@model artshare_server.WebApp.Pages.ArtworksModel
@{
    ViewData["Title"] = "Home page";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">
                <h1 class="text-white">
                    WELCOME TO ART SHARING
                </h1>
                <br />
                <a asp-page="/Login" class="primary-btn text-uppercase">Get Start</a>
            </div>
        </div>
    </div>
</section>
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">@Model.Artwork.title</h3>
            @if (Model.IsBought)
            {
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Artwork.originalArtUrl" alt="@Model.Artwork.title" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>@Model.Artwork.description</p>
                    </div>
                </div>
                <a class="genric-btn success" href="@Model.Artwork.originalArtUrl" download />
            }
            else
            {
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.Artwork.watermarkedArtUrl" alt="@Model.Artwork.title" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>@Model.Artwork.description</p>
                        <p>@Model.Artwork.price</p>
                    </div>
                    @if (Model.IsProductInCart(Model.Artwork))
                    {
                        <form method="post" asp-page-handler="RemoveFromCart" asp-route-ItemId="@Model.Artwork.artworkId">
                            <button type="submit" class="genric-btn danger radius">Remove from Cart</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="AddToCart" asp-route-ItemId="@Model.Artwork.artworkId">
                            <button type="submit" class="genric-btn info radius">Add to Cart</button>
                        </form>
                    }
                </div>
            }
            
        </div>
    </div>
</div>

