@page
@model artshare_server.WebApp.Pages.ArtworksModel
@{
    ViewData["Title"] = "Home page";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">
                <h1 class="text-white">
                    WELCOME TO ART SHARING
                </h1>
                <br />
                <a asp-page="/Login" class="primary-btn text-uppercase">Get Start</a>
            </div>
        </div>
    </div>
</section>
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">@Model.Artworks.title</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="@Model.Artworks.originalArtUrl" alt="@Model.Artworks.title" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>@Model.Artworks.description</p>
                    <p>@Model.Artworks.price.000VND</p>
                </div>
                <form method="post" asp-page-handler="AddToCart" asp-route-ItemId="@Model.Artworks.artworkId">
                    <button type="submit" class="genric-btn info radius">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>

