@page
@model artshare_server.WebApp.Pages.Creators.Artworks.IndexModel
@{
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="container">
		<section class="gallery-area section-gap" id="gallery">
			<a asp-page="./Create" class="primary-btn text-uppercase">CREATE NEW</a>
			<div class="single-widget tags-widget">
				<h4 class="title text-white">Genre</h4>
				<ul>
					@foreach (var genre in Model.Genres)
					{
						<a asp-page="/Artworks" asp-route-uniqueId="@genre.genreId">
						<li><a href="#">@genre.name</a></li>
						</a>
					}
				</ul>
			</div>
			<div class="single-widget search-widget">
				<form class="example" action="" method="post" style="margin:auto;max-width:300px">
					<input type="text" placeholder="Search Posts" name="searchString">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10 text-white">YOUR GALERRY</h1>
						</div>
					</div>
				</div>
				<div id="grid-container" class="row">
					@foreach (var artwork in Model.Artworks)
					{
						<a asp-page="/Artworks" asp-route-artworkId="@artwork.artworkId">
							<img class="grid-item" src="@artwork.originalArtUrl" alt="@artwork.title">
						</a>
					}
				</div>
			</div>
		</section>
	</div>
</section>