@page
@model artshare_server.WebApp.Pages.Audiences.Orders.IndexModel
@{
}

@{
    var orders = Model.Orders;
    var role = HttpContext.Session.GetString("Role");
}
@if (!string.IsNullOrEmpty(role) && (role.Equals("Admin") || role.Equals("Audience")))
{
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">
                <h1 class="text-white">
                    All Orders Of Audience
                </h1>

                <br />
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark, font-weight-bold, text">
                        <tr>
                            <td></td>
                            <td>Order Id</td>
                            <td>Customer </td>
                            <td>Artwork Title</td>
                            <td>Price</td>
                            <td>Create Date</td>
                        </tr>
                    </thead>
                    <tbody class="green-text">
                        @{
                            int i = 0;
                            foreach (var order in orders)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@order.OrderId</td>
                                    <td>@order.FullName</td>
                                    <td>@order.Title</td>
                                    <td>@order.Price</td>
                                    <td>@order.CreateDate.ToShortDateString()</td>                                   
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @{
                        var cumtomerId = Model.CustomerId;
                    }
                    @for (int k = 1; k <= Math.Ceiling((double)Model.Total / Model.Size); k++)

                    {
                        <a class="page-link" href="./Index?page=@k">@k</a>
                    }
                </div>
            </div>

        </div>

    </div>

</section>
<style>
    .green-text {
        color: darkseagreen;
        font-weight: bold;
        font-size: 15px;
    }

    .text {
        color: deeppink;
        font-size: 20px;
    }
    </style>
}
else
{
    <h1>Unauthorized</h1>
}
